@tailwind base;
@tailwind components;
@tailwind utilities;

.isSelected {
    border: 2px solid blue;
    background-color: blue;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  }